# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# 
pawportal/__pycache__/settings.cpython-313.pyc
pawportal/__pycache__/urls.cpython-313.pyc
pawportalapp/__pycache__/views.cpython-313.pyc
