# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
pawportalapp/__pycache__/views.cpython-314.pyc
